.movieCard{
    height:550px;
    overflow: hidden;
    margin:0;
    position: relative;
}
.movieCard img{
    height:100%;
    object-fit: cover;
}
.movieTitle{
    background-color: rgb(3 37 65);
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
}
.movieOverview{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:30%;
    padding:15px;
    background-color: #fff;
    transform: scale(0);
    opacity: 0;
    transition: all .4s ease-in-out;
    overflow: auto;
}
.movieCard:hover .movieOverview{
    opacity: 1;
    transform: scale(1);
}